{% extends 'base.html' %}
{% import "bootstrap5/form.html" as wtf %}

{% block content %}
{% include "header.html" %}

<!-- Stock Names & Symbols -->
<div style="background: #E1ECC8; padding-top: 10px; padding-left: 20px; margin-left: 0px; border-radius: 0%; color: #000;">
    <h3><b><a href="{{url_for('check_stock')}}"
              onMouseOut="this.style.color='#000'"
              onMouseOver="this.style.color='#A0C49D'">Stock Names & Symbols
    </a></b></h3>
</div>
<!-- End of Stock Names & Symbols -->

{% if not data %}
<!-- Task section -->
<div class="container task">
    <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
            <!-- Title -->
            <h1>Welcome to Our<br> Stock Price Checker!</h1><br>
            <h5>Please fill up the form below and get details of your favorite stock.</h5>
        </div>
    </div>
</div>

<!--Creating form with a customized button and a pop-up error message-->
<div class="container" style="margin-top: 50px;">
    <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto content">
            {% with messages = get_flashed_messages() %}
            {% if messages %}
            {% for message in messages %}
            <p>{{ message }}</p>
            {% endfor %}
            {% endif %}
            {% endwith %}
            {{ wtf.render_form(form, novalidate=True, button_map={"submit": "btn btn-outline-dark"}) }}
        </div>
    </div>
</div>
<!-- End of form -->

{% else %}
<div class="container task">
    <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
            <!-- Title -->
            <h1>Here are details for your selected stock!</h1><br>
        </div>
    </div>
</div>
{% endif %}

<!----- Stock details layout ---->
<div class="container" style="padding-top: 0px; padding-bottom: 100px;">
    <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 row-cols-sm-1 g-200">
        {% for dt in data %}
        <div class="col" style="height: 30px;">
            <p><b>{{ dt.split(":")[0] }}:</b>{{ dt.split(":")[1] }}</p>
        </div>
        {% endfor %}
    </div>
</div>
<!----- End of Stock details layout ---->

{% include "footer.html" %}
{% endblock %}